.App {
  text-align: center;
}


.block{
  width: 90%;
  height: auto;
  display: inline-block;
  border:1%;
  border:solid;
  border-color: black;
  padding: 2%;
}
.blockElemM{
  max-width: 40%;
  float: left; 
  margin: auto;
  
}
.blockElemT{
  max-width: 40%;
  float: right;
  margin: 5%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
