.App {
  text-align: center;
}
button{
  width: 30%;
  padding: 0%;
}

.Wellcom{
  background-image: url();
}

.block{
  display:  grid;
  flex-direction: row ;
  justify-content: space-between;
  width: 90%;
  height: auto;
  border:1%;
  border:solid;
  border-color: black;
  padding: 2%;
  margin: 1%;
}
.item{
  order: inherit;
}
.blockElemM{
  display: inline-grid;
  max-width: 40%;
  margin: auto;
  float: right;
 
  
}
.blockElemT{
  display: inline-grid;
  max-width: 60%;
  float: left;
  margin: 5% 5% 10% 5% ; 
  text-align: left;
  
}


.App-logo {
  height: 40min;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
